In [ ]:
#switch case statement
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Something else")

Something else

In [ ]:
#matching by the length of an iterable
numbers = [1, 2, 3]

match numbers:
    case [x, y]:
        print(x * y)
    case [x, y, z]:
        print(x + y + z)
    case _:
        print("The list does not have 2 or 3 elements")

The list does not have 2 or 3 elements

In [14]:
#exercise-1
numbers = [1, 2, 3, 4, 5]

match len(numbers):
    case 0:
        print("The list is empty")
    case 1:
        print("The list has 1 element")
    case 2:
        print("The list has 2 elements")
    case _:
        print("Somethings else")

Somethings else

In [22]:
#for loop 
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [33]:
#exercise-2
numbers = [7, 5, 8, 4, 9, 12]
new_list = []

for i in numbers:
    new_list.append(i * i)

print(new_list)

[49, 25, 64, 16, 81, 144]

In [ ]:
#exercise-3
num = int(input("Enter number: "))
square_numbers = []

for i in range(1, num + 1):
    square_numbers.append(i * i)

print(square_numbers)

[1, 4, 9, 16, 25]

In [1]:
#list comprehension
numbers = [1, 2, 3, 4, 5]

squared_numbers = [i * i for i in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [4]:
#exercise-4
numbers = [8, 12, -1, 5, 4, 0, -3]

squared_numbers = [i * i for i in numbers if i > 0]
print(squared_numbers)

[64, 144, 25, 16]

In [10]:
#while loop
numbers = [1, 2, 3, 4, 5]
print(numbers)

while numbers:
    print(numbers.pop())

print(numbers)

[1, 2, 3, 4, 5]
5
4
3
2
1
[]

In [20]:
#exercise-5
num = int(input("Enter number: "))
square_numbers = []
count = 1
temp_square = 1

while temp_square <= num:
    square_numbers.append(temp_square)
    count += 1
    temp_square = count * count

print(square_numbers)

[1, 4, 9]

In [23]:
#break keyword
numbers = [1, 2, 3, 0, 5]

for i in numbers:
    if i == 0:
        break
    else:
        print(i)

1
2
3

In [24]:
#continue keyword
numbers = [1, 2, 3, 0, 5]

for i in numbers:
    if i == 0:
        continue
    else:
        print(i)

1
2
3
5

In [26]:
#exercise-6
while True:
    num = int(input("Enter number: "))
    if num == 0:
        break
    else:
        print(num * num)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#key value pairs
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

count = 1

#unpacking
for key, value in person.items():
    print("tuple", count, "=", key, value)
    count += 1

tuple 1 = name John
tuple 2 = age 30
tuple 3 = city New York

In [36]:
#functional programming
def calculate_circumference(width, height):
    return (width * 2) + (height * 2)

print(calculate_circumference(10, 20))

60

In [ ]:
#exercise-7
def calculate_area(radius):
    return (3.14 * radius * radius)

print(calculate_area(5))

78.5

In [ ]:
#default arguments
#default arguments are in the right hand side on function
def add_numbers(a , b = 5):
    return (a + b)

print(add_numbers(3))
print(add_numbers(3 , 6))

8
9

In [42]:
#positional arguments
def add_numbers(a , b):
    return (a + b)

print(add_numbers(4 , 6))

10

In [ ]:
#keyword arguments
def add_numbers(a , b):
    return (a + b)

print(add_numbers(b = 4 , a = 3))

7

In [ ]:
#exercise-8
def calculate_total(price, qty, discount = 10, tax = 5):
    total = price * qty
    discounted_price = total - discount
    taxed_price = discounted_price + tax
    return taxed_price

print(calculate_total(100, 5, 100, 20))

420

In [ ]:
#multiline string
my_str = '''I love computer programming,
I am student of IJSE,
I live in Galle'''

print(my_str)

I love computer programming,
I am student of IJSE,
I live in Galle

In [ ]:
#string formatting
my_str = "Hello World"
print(len(my_str))
print(my_str[6])

11
W

In [ ]:
#upper and lower case
my_str = "Hello World"

print(my_str.upper())
print(my_str.lower())

HELLO WORLD
hello world

In [76]:
#removing white spaces
my_str = "  Hello World   "
print(my_str)

my_str = my_str.strip()
print(my_str)

  Hello World
Hello World